:root {
  :where(button) {
    background-color: var(--context-color, var(--button-bg-color));

    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid var(--button-border-color);
    color: var(--button-text-color);
    font-weight: 600;

    &:hover {
      cursor: pointer;
      --ctx-color: var(--button-color-hover);
    }

    &:active {
      --ctx-color: var(--button-color-active);
    }
  }
}
