:host {
  display: grid;
  place-items: center;
  box-shadow: var(--box-shadow);
  padding: 1rem 1.3rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  [name] {
    color: red;
    text-transform: capitalize;
  }
}
